CRISP-ML(Q):
1. Business & Data Understanding:

a) Business Problem: Significant amount of HRâ€™s time spent on sorting candidate profiles, most of which are irrelevant.
b) Business Objective: Minimize recruitment cost.
c) Business Constraints: Improve candidate selection.

2. Success Criteria: 

a) Business success criteria: Reduction in recruitment time by 30%
b) Machine Learning success criteria: Develop a model with at least 85% accuracy in predicting successful hires.
c) Economic success criteria: Achieve a 25% reduction in overall recruitment expenses.

3. Data Collection:

Data is collected from the 3 major sources. Timesjobs and Foundit for Job Descriptions and Resume dataset from kaggle. 

Job Description Dataset has following Features:

a) Job Description Dataset
Category	
JD_Link	Job_title	
Job_title_sub	
Experience_level	
Salary	Location	
Job_desc_raw	
Job Function
Industry
Specialization
Role
Qualification
Employment Type
Vacancies
Hiring Location

b) Resume Dataset
Category
Resume

In [1]:
# Import necessary libraries for the code
import numpy as np
import pandas as pd
import re
import spacy
import pymysql

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Read the CSV file into a DataFrame
resume_data_df = pd.read_csv(r"UpdatedResumeDataSet.csv")

# Remove duplicate rows from the DataFrame
resume_data_df = resume_data_df.drop_duplicates()

#Drop Rows with low Resume text
resume_data_df["Resume_Length"]= resume_data_df["Resume"].str.len()
resume_data_df = resume_data_df[resume_data_df["Resume_Length"] >= 400]
resume_data_df = resume_data_df.drop("Resume_Length", axis=1)


# Get Categories where we have atleast 10 resumes 
category_counts = resume_data_df.groupby("Category")["Category"].count()
categories_with_count_at_least_10 = category_counts[category_counts >= 10].index.tolist()

resume_data_df = resume_data_df[resume_data_df["Category"].isin(categories_with_count_at_least_10)]

In [3]:
resume_data_df.groupby("Category")["Category"].count()

Category
Data Science      10
Database          11
Java Developer    12
Name: Category, dtype: int64

In [4]:
# Read the CSV file into a DataFrame
jd_raw_data_df = pd.read_csv(r"jd_full_raw_data.csv")

# Drop the "Unnamed: 0" column from the DataFrame
jd_raw_data_df = jd_raw_data_df.drop("Unnamed: 0", axis=1)

# Remove duplicate rows from the DataFrame
jd_raw_data_df = jd_raw_data_df.drop_duplicates()

#Drop Rows with low Resume text
jd_raw_data_df["Job_desc_raw_Len"]= jd_raw_data_df["Job_desc_raw"].str.len()
jd_raw_data_df = jd_raw_data_df[jd_raw_data_df["Job_desc_raw_Len"] >= 600]
jd_raw_data_df = jd_raw_data_df.drop("Job_desc_raw_Len", axis=1)

jd_raw_data_df = jd_raw_data_df[jd_raw_data_df["Category"].isin(categories_with_count_at_least_10)]

In [5]:
jd_raw_data_df.groupby("Category")["Category"].count()

Category
Data Science      28
Database          24
Java Developer    32
Name: Category, dtype: int64

In [6]:
# MySQL Database connection

from sqlalchemy import create_engine

# Creating engine which connect to MySQL
user = 'root' # user name
pw = 'Root123456' # password
db = 'hispeedhr' # database

In [7]:
# creating engine to connect database
engine = create_engine(f"mysql+pymysql://{user}:{pw}@localhost/{db}")

In [8]:
# dumping data into database
jd_raw_data_df.to_sql('job_description_table', con = engine, if_exists = 'replace', chunksize = 1000, index = False)

84

In [9]:
# dumping data into database
resume_data_df.to_sql('resume_table', con = engine, if_exists = 'replace', chunksize = 1000, index = False)

33