In [1]:
import numpy as np
import pandas as pd
import re
import spacy
import pymysql
from sqlalchemy import create_engine

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

import pickle
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from sklearn.metrics.pairwise import cosine_similarity
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Creating engine which connect to MySQL
user = 'root' # user name
pw = 'Root123456' # password
db = 'hispeedhr' # database

In [3]:
# creating engine to connect database
engine = create_engine(f"mysql+pymysql://{user}:{pw}@localhost/{db}")

In [4]:
# loading data from database
job_description_sql = 'select * from job_description_table'
resume_sql = 'select * from resume_table'

In [5]:
# Read job_description_df and resume_df using pd.read_sql_query
job_description_df = pd.read_sql_query(job_description_sql, con=engine)
resume_df = pd.read_sql_query(resume_sql, con=engine)

# Select only the required columns
job_description_df = job_description_df[["Category", "Job_desc_raw"]]

In [6]:
# Load the English language model in spaCy
nlp = spacy.load('en_core_web_sm')

In [7]:
# Define functions for data processing

def cleanRawText(rawText):
    rawText = str(rawText)
    rawText = re.sub('http\S+\s*', ' ', rawText)
    rawText = re.sub('RT|cc', ' ', rawText)
    rawText = re.sub('#\S+', '', rawText)
    rawText = re.sub('@\S+', '  ', rawText)
    rawText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', rawText)
    rawText = re.sub(r'[^\x00-\x7f]', r' ', rawText) 
    rawText = re.sub('\s+', ' ', rawText)
    rawText = re.sub('Job Description', '', rawText)
    return rawText

def remove_stop_words(text):
    if isinstance(text, str):
        doc = nlp(text)
        filtered_text = ' '.join([token.text for token in doc if not token.is_stop])
        return filtered_text
    else:
        return ''

def extract_entities(text):
    doc = nlp(text)
    named_entities = list(set([ent.text for ent in doc.ents]))
    return named_entities

def remove_words(text, words):
    pattern = r'\b(?:{})\b'.format('|'.join(map(re.escape, words)))
    return re.sub(pattern, '', text)

def cleanResumeData(df):
    df["Resume"] = df["Resume"].apply(lambda x: x.strip())
    cleaned_resume = df["Resume"].apply(cleanRawText)
    df["cleaned_text"] = cleaned_resume
    return df

def cleanJDData(df):
    df["Job_desc_raw"] = df["Job_desc_raw"].apply(lambda x: x.strip())
    cleaned_jd = df["Job_desc_raw"].apply(cleanRawText)
    df["cleaned_text"] = cleaned_jd
    return df

In [8]:
# Clean the resume and job description data
resume_df = cleanResumeData(resume_df)
job_description_df = cleanJDData(job_description_df)

In [9]:
resume_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      33 non-null     object
 1   Resume        33 non-null     object
 2   cleaned_text  33 non-null     object
dtypes: object(3)
memory usage: 920.0+ bytes

In [10]:
job_description_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      84 non-null     object
 1   Job_desc_raw  84 non-null     object
 2   cleaned_text  84 non-null     object
dtypes: object(3)
memory usage: 2.1+ KB

In [11]:
# Apply the remove_stop_words function to each value in the 'cleaned_text' column
job_description_df['cleaned_text_no_stopwords'] = job_description_df['cleaned_text'].apply(remove_stop_words)
resume_df['cleaned_text_no_stopwords'] = resume_df['cleaned_text'].apply(remove_stop_words)

# Apply the extract_entities function to each value in the 'cleaned_text' column
job_description_df['named_entities'] = job_description_df['cleaned_text'].apply(extract_entities)
resume_df['named_entities'] = resume_df['cleaned_text'].apply(extract_entities)

# Apply the remove_words function to each row in the job_description_df and resume_df
job_description_df['cleaned_text_no_ne'] = job_description_df.apply(lambda row: remove_words(row['cleaned_text'], row['named_entities']), axis=1)
resume_df['cleaned_text_no_ne'] = resume_df.apply(lambda row: remove_words(row['cleaned_text'], row['named_entities']), axis=1)

In [12]:
#Read the existing model
model = pickle.load(open('doc2vec_model.pkl', 'rb'))

In [13]:
#generate vectors
resume_text2vec = [model.infer_vector((resume_df['cleaned_text_no_stopwords'][i].split(' '))) 
            for i in range(0,len(resume_df['cleaned_text_no_stopwords']))]
job_description_text2vec = [model.infer_vector((job_description_df['cleaned_text_no_stopwords'][i].split(' '))) 
            for i in range(0,len(job_description_df['cleaned_text_no_stopwords']))]


resume_text2vec_list = np.array(resume_text2vec).tolist()
job_description_text2vec_list = np.array(job_description_text2vec).tolist()
#set list to dataframe column
resume_df['text_vec'] = resume_text2vec_list
job_description_df['text_vec'] = job_description_text2vec_list

In [14]:
# Calculate cosine similarity between vectors in resume_df and job_description_df
similarity_scores = cosine_similarity(job_description_df['text_vec'].tolist(), resume_df['text_vec'].tolist())

# Create a new column in jd_raw_data_df with reference to top 5 cosine similarity scores
top_5_scores = similarity_scores.argsort()[:, -5:][:, ::-1]  # Get the indices of top 5 scores for each row

# Create a new column to store the top 5 similarity scores
job_description_df['top_5_similarity_scores'] = [[similarity_scores[row][index] for index in indices] for row, indices in enumerate(top_5_scores)]

# Create a new column to store the corresponding row indices in resume_df
job_description_df['top_5_resume_indices'] = [resume_df.index[index_list].tolist() for index_list in top_5_scores]

# Create a new column to store the corresponding categories in resume_df
job_description_df['top_5_resume_category'] = [resume_df["Category"][index_list].tolist() for index_list in top_5_scores]

In [15]:
#Save Cosine Scores
job_description_df.to_csv(r"job_description_text_processed.csv")

In [16]:
#Save Resume Data
resume_df.to_csv(r"resume_processed.csv")

In [17]:
job_description_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Category                   84 non-null     object
 1   Job_desc_raw               84 non-null     object
 2   cleaned_text               84 non-null     object
 3   cleaned_text_no_stopwords  84 non-null     object
 4   named_entities             84 non-null     object
 5   cleaned_text_no_ne         84 non-null     object
 6   text_vec                   84 non-null     object
 7   top_5_similarity_scores    84 non-null     object
 8   top_5_resume_indices       84 non-null     object
 9   top_5_resume_category      84 non-null     object
dtypes: object(10)
memory usage: 6.7+ KB

In [18]:
job_description_df[["Job_desc_raw","cleaned_text_no_stopwords","top_5_similarity_scores","top_5_resume_indices"]]

,Job_desc_raw,cleaned_text_no_stopwords,top_5_similarity_scores,top_5_resume_indices
0,Job Description\n\nPerform deep dive analyses ...,Perform deep dive analyses key business tren...,"[0.698626629130113, 0.6122702799653892, 0.6106...","[1, 2, 14, 6, 25]"
1,"Job Description\nManage, architect, and analyz...",Manage architect analyze big data build data...,"[0.7549157835110617, 0.70567287017585, 0.64353...","[6, 1, 2, 8, 4]"
2,Job Description\nData Science Analyst\nExperie...,Data Science Analyst Experience 2 t 6 years ...,"[0.7342804874740243, 0.6903970439689374, 0.571...","[6, 1, 2, 0, 8]"
3,Job Description\r\n\t\t From building e...,building entire infrastructures platforms so...,"[0.6571658859889116, 0.5983140812885066, 0.529...","[6, 1, 5, 8, 20]"
4,Job Description\r\n\t\t From building e...,building entire infrastructures platforms so...,"[0.6492806735912013, 0.60274462031725, 0.52690...","[6, 1, 5, 8, 20]"
...,...,...,...,...
79,Job Description\r\n\t\t Key Accountabil...,Key ountabilities Design develop database ap...,"[0.6277244293090876, 0.6148292233640253, 0.600...","[29, 11, 23, 24, 18]"
80,Job Description\r\n\t\t Qualifications:...,Qualifications Bachelors Masters degree Comp...,"[0.7809483340725354, 0.6502631782484231, 0.627...","[4, 20, 24, 17, 5]"
81,Job Description\nProficiency in Backup and Rec...,Proficiency Backup Recovery Database Adminis...,"[0.6592041270343079, 0.6070742199940865, 0.602...","[4, 25, 31, 28, 27]"
82,Job Description\nDescription:\n\nResponsible f...,Description Responsible physical database ar...,"[0.6370916099876154, 0.632498175215042, 0.6214...","[26, 29, 23, 4, 25]"
83,Job Description\r\n\t\t Troubleshoot an...,Troubleshoot fix Alteryx workflow issues dev...,"[0.7074435192218328, 0.6880159100630676, 0.643...","[23, 24, 4, 29, 3]"